
@font-face {
    font-family: 'Pragmatica';
    src: url('../../fonts/lada/PragmaticaCyrillic.eot');
    src: url('../../fonts/lada/PragmaticaCyrillic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/lada/PragmaticaCyrillic.woff2') format('woff2'),
        url('../../fonts/lada/PragmaticaCyrillic.woff') format('woff'),
        url('../../fonts/lada/PragmaticaCyrillic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../../fonts/lada/PragmaticaBoldCyrillic.eot');
    src: url('../../fonts/lada/PragmaticaBoldCyrillic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/lada/PragmaticaBoldCyrillic.woff2') format('woff2'),
        url('../../fonts/lada/PragmaticaBoldCyrillic.woff') format('woff'),
        url('../../fonts/lada/PragmaticaBoldCyrillic.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pragmatica';
    src: url('../../fonts/lada/PragmaticaLightC.eot');
    src: url('../../fonts/lada/PragmaticaLightC.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/lada/PragmaticaLightC.woff2') format('woff2'),
        url('../../fonts/lada/PragmaticaLightC.woff') format('woff'),
        url('../../fonts/lada/PragmaticaLightC.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


