@font-face {
    font-family: 'Peugeot New Cyrillic Beta1';
    src: url('../../fonts/peugeot/PeugeotNewCyrillicBeta1-Light.eot');
    src: url('../../fonts/peugeot/PeugeotNewCyrillicBeta1-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/peugeot/PeugeotNewCyrillicBeta1-Light.woff2') format('woff2'),
        url('../../fonts/peugeot/PeugeotNewCyrillicBeta1-Light.woff') format('woff'),
        url('../../fonts/peugeot/PeugeotNewCyrillicBeta1-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peugeot New Cyrillic Beta1';
    src: url('../../fonts/peugeot/PeugeotNewCyrillicBeta1-Regular.eot');
    src: url('../../fonts/peugeot/PeugeotNewCyrillicBeta1-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/peugeot/PeugeotNewCyrillicBeta1-Regular.woff2') format('woff2'),
        url('../../fonts/peugeot/PeugeotNewCyrillicBeta1-Regular.woff') format('woff'),
        url('../../fonts/peugeot/PeugeotNewCyrillicBeta1-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peugeot New Cyrillic Beta1';
    src: url('../../fonts/peugeot/PeugeotNewCyrillicBeta1-Bold.eot');
    src: url('../../fonts/peugeot/PeugeotNewCyrillicBeta1-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/peugeot/PeugeotNewCyrillicBeta1-Bold.woff2') format('woff2'),
        url('../../fonts/peugeot/PeugeotNewCyrillicBeta1-Bold.woff') format('woff'),
        url('../../fonts/peugeot/PeugeotNewCyrillicBeta1-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

