@font-face{
    font-family:"skodapro";
    src:url("../../fonts/skoda/skodanext_regular.eot?#iefix");
    src:url("../../fonts/skoda/skodanext_regular.eot?#iefix") format("eot"),
        url("../../fonts/skoda/skodanext_regular.woff2") format("woff2"),
        url("../../fonts/skoda/skodanext_regular.woff") format("woff"),
        url("../../fonts/skoda/skodanext_regular.ttf") format("truetype");
    font-style:normal;
    font-weight:normal
}
@font-face{
    font-family:"skodapro";
    src:url("../../fonts/skoda/skodanext_bold.eot?#iefix");
    src:url("../../fonts/skoda/skodanext_bold.eot?#iefix") format("eot"),
        url("../../fonts/skoda/skodanext_bold.woff2") format("woff2"),
        url("../../fonts/skoda/skodanext_bold.woff") format("woff"),
        url("../../fonts/skoda/skodanext_bold.ttf") format("truetype");
    font-style:normal;
    font-weight:bold
}
@font-face{
    font-family:"skodapro_bold";
    src:url("../../fonts/skoda/skodanext_bold.eot?#iefix");
    src:url("../../fonts/skoda/skodanext_bold.eot?#iefix") format("eot"),
        url("../../fonts/skoda/skodanext_bold.woff2") format("woff2"),
        url("../../fonts/skoda/skodanext_bold.woff") format("woff"),
        url("../../fonts/skoda/skodanext_bold.ttf") format("truetype");
    font-style:normal;
    font-weight:bold
}